{% extends "posts/layout.html" %}
{% load post_extras %}
{% load socialaccount %}
{% load staticfiles %}

	{% block content %}
	<br><br><br><br><br>

	{% if request.user.is_authenticated %}
          {% for posts in data %}
        <div id="post">
          <div id="username">
		    <a href="{% url 'mypage' posts.account %}"> {{ posts.account }}</a>

            {% if user == posts.account %}
		    <details>
			  <summary> ... </summary>
			  <p> <a href="{% url 'post_update' posts.id %}"> 수정 </a> <br>
				링크 복사 <br>
				공유 <br>
				<a href="{% url 'post_delete' posts.id %}"> 삭제 </a> </p>
		    </details>
			{% else %}
		    <details>
			  <summary> ... </summary>
				링크 복사 <br>
				공유 <br>
		    </details>
			{% endif %}
          </div>
            <div id="photo">
			{% if posts.photo %}
			  <img src = "{{ posts.photo.url }}"  width="100%" height="500"/> <br>
			{% endif %}
            </div>
            <div id="text">
        	{{ posts|add_link|safe }}
                <br>

			<a href="{% url 'post_like' posts.id %}"> <span class="glyphicon
					{% if user in posts.post_like.all %}
						glyphicon-heart
					{% else %}
						glyphicon-heart-empty
					{% endif %}"
					aria-hidden="true"></span> </a> {{posts.post_like.count}} <br> <br>
			{% for comments in posts.comment_set.all %}
				{{ comments.account }}
				{{ comments.content }}
				{% if user == comments.account %}
					<a href="{% url 'comment_delete' comments.id %}"> x </a>
				{% endif %} <br>
			{% endfor %}
			<form action="{% url 'comment_create' posts.id %}" method="POST" class="comment-form">
				{% csrf_token %}
				<input type="text" name="content" placeholder="댓글 달기...">
			</form>
            </div>

        </div>
	{% endfor %}

	{% else %}
	<div style="width:100%; height:100%; float:left; margin-left:300px; margin-top:50px;">
		<img src="{% static 'main.png' %}" width="30%" height="70%"/>
		<div style="width:50%; height:50%; float:right; margin-right:200px; margin-top:100px;">
            <a href="{% provider_login_url 'facebook' method='oauth2' %}">
            <img src="{% static 'facebook.png' %}" width="35%" height="12%"/>
            </a>
			<br> <br>
            <div style="margin-left:50px;">
                <p> ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯ 또는 ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯</p>
            </div>
            <br>
			<form id="signup" method="post" action="{% url 'signup' %}">
        	{% csrf_token %}
        	{{ userform.as_p }}
        	<input type="submit" value="회원가입" />
    	</form>
		</div>
	</div>
	{% endif %}
	{% endblock %}

