{% extends "posts/layout.html" %}
{% load post_extras %}

<body>
	{% block content %}
    	{% for posts in post %}
		<div class="image123" style="margin-top: 150px;">
    		<div style="float:left;margin-right:10px; margin-bottom:10px;margin-left:30px;">
			  	<a href="{% url 'mypage' posts.account %}"> {{ posts.account }}</a> <br>
			{% if posts.photo %}
			  	<img src = "{{ posts.photo.url }}"  width="300" height="300"/> <br>
			{% endif %}
			</div>
		</div>
		{% endfor %}
	{% endblock %}
</body>
</html>