{% extends "posts/layout.html" %}
{% load post_extras %}

<body>
	{% block content %}
		<br><br><br><br>
		<div class="page-header" align="center">
		<h1> 둘러보기 </h1>
		</div>

    	{% for posts in post %}
		<div class="image123">
    		<div style="float:left;margin-right:10px; margin-bottom:10px;margin-left:80px;">
			  	<a href="{% url 'mypage' posts.account %}"> {{ posts.account }}</a> <br>
			{% if posts.photo %}
			  	<img src = "{{ posts.photo.url }}"  width="300" height="300"/> <br>
			{% endif %}
			</div>
		</div>
		{% endfor %}
	{% endblock %}
</body>