{% extends "posts/layout.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
	{% block title %}
    <title> {{user.name}}님의 마이페이지</title>
	{% endblock %}
</head>
<body>
	{% block content %}
	{% if user != member %}
		{% if account %}
			<a href="{% url 'follow' member.username %}"> 언팔로우 </a> <br>
		{% else %}
			<a href="{% url 'follow' member.username %}"> 팔로우 </a> <br>
		{% endif %}
		팔로우 {{ member.follower.count }} 팔로워 {{ member.follow.count }}
	{% endif %}
		<br><br><br>
    	{% for posts in data %}
			{{ posts.account }}<br>
			{% if posts.photo %}
			<img src = "{{ posts.photo.url }}"  width="400" height="300"/> <br>
			{% endif %}
        	{{ posts.text }} <br> <br> <br> <br>
		{% endfor %}
	{% endblock %}

</body>
</html>