<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<li><a href="/posts"> 홈 </a></li>
	{% if user != member %}
		{% if account %}
			<a href="{% url 'follow' member.username %}"> 언팔로우 </a> <br>
		{% else %}
			<a href="{% url 'follow' member.username %}"> 팔로우 </a> <br>
		{% endif %}
		팔로우 {{ member.follower.count }} 팔로워 {{ member.follow.count }}
	{% endif %}
		<br><br><br>
    	{% for posts in data %}
			{{ posts.account }}<br>
			{% if posts.photo %}
			<img src = "{{ posts.photo.url }}"  width="400" height="300"/> <br>
			{% endif %}
        	{{ posts.text }} <br> <br> <br> <br>
		{% endfor %}

</body>
</html>