{% extends "layout.html" %}


    {% if user.is_active %}
        {% block title %}
        <title>{{ user.username }}의 InstaGram</title>
        {% endblock %}
        {% block mypage %}
              <li><a href="/posts/{{ user.username }}/create">Post 등록</a></li>
        <ul>
              <li>팔로우 - {{ member.follower_count }}명</li>
              <li>팔로워 - {{ member.follow_count }}명</li>
              <div align="rigth">
                {% if member.username != user.username %}
                    {% if follow.follow == member %}
                    <li><a href="{% url 'follow' member.username %}">⭐</a></li>
                    {% else %}
                    <li><a href="{% url 'follow' member.username %}">팔로우</a></li>
                    {% endif %}
                {% endif %}
              </div>
        </ul>
        {% endblock %}
        {% block content %}
        <br><br><br><br>
{% for post in data %}
    <div id="post-container">
        <div id="post-username" align="left">
          <a href="{% url 'post_mypage' post.account %}">{{ post.account }}</a>
            {% if user == post.account %}
                <details>
                    <summary>...</summary>
                    <p><a href="{% url 'post_update' post.id %}">게시물 수정</a><br>
                       <a href="{% url 'post_delete' post.id %}">게시물 삭제</a><br>
                        게시물 공유<br>
                        링크 복사 <br>
                    </p>
                </details>
                {% else %}
                <details>
                    <summary>...</summary>
                    <p>
                       게시물 공유<br>
                       링크 복사 <br>
                    </p>
                </details>
                {% endif %}
        {% if post.photo %}
            <div id="post-photo">
                <img src="{{ post.photo.url  }}" width="100%" height="75%"/> <br>
            </div>
        {% endif %}
        {{ post.text}}
    <br><br>
        {% for comments in post.comment_set.all %}
                    <span class="comment-account">{{ comments.account }} - </span>
                    <span class="comment-content">{{ comments.content }}
                    {% if user == comments.account %}
                    <a href="{% url 'comment_delete' comments.id %}">x</a>
                    {% endif %}
                    </span><br>
    {% endfor %}
        <form action="{% url 'comment' post.id %}" method="POST" class="comment-form">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="댓글 달기">
        </form>
        </div>
    </div>
    {% endfor %}
        {% endblock %}
    {% endif %}