{% extends "layout.html" %}

{% block title %}
<title>InstaGram 둘러보기</title>
{% endblock %}
{% block content %}
<div class="page-header" align="center" style="margin-top:90px;">
   <h1>둘러보기</h1>
  </div>
{% if request.user.is_authenticated %}
<div id="explore-container">
    {% for post in data %}
    <div id="explore-post" align="left">
        <a href="{% url 'post_mypage' post.account %}">{{ post.account }}</a><br>
        {% if post.photo %}
            <img src="{{ post.photo.url  }}" width="100%" height="300"/> <br>
        {% endif %}
    </div>
    {% endfor %}

</div>
{% endif %}
{% endblock %}