{% extends "layout.html" %}
{% load post_tag %}
{% load index %}

{% block content %}
<br>
{% if request.user.is_authenticated %}
    {% for post in data %}
<div id="post-container">
        <div id="post-username" align="left">
            <a href="{% url 'post_mypage' post.account %}">{{ post.account }}</a>
                {% if user == post.account %}
                <details>
                    <summary>...</summary>
                    <p><a href="{% url 'post_update' post.id %}">게시물 수정</a><br>
                       <a href="{% url 'post_delete' post.id %}">게시물 삭제</a><br>
                        게시물 공유<br>
                        링크 복사 <br>
                    </p>
                </details>
                {% else %}
                <details>
                    <summary>...</summary>
                    <p>
                       게시물 공유<br>
                       링크 복사 <br>
                    </p>
                </details>
                {% endif %}
        </div>
    {% if post.photo %}
        <div id="post-photo">
            <img src="{{ post.photo.url  }}" width="100%" height="75%"/> <br>
        </div>
    {% endif %}
            {{ post|add_link|safe }}<br>
            <a href="{% url 'post_like' post.id %}">좋아요
                {% if likes|index:forloop.counter0 %}
                        ❤️
                {% else %}
                        ♡
                {% endif %}
            </a> {{ post.like_count }}
    <br><br>
    {% for comments in post.comment_set.all %}
                    <span class="comment-account">{{ comments.account }} - </span>
                    <span class="comment-content">{{ comments.content }}
                    {% if user == comments.account %}
                    <a href="{% url 'comment_delete' comments.id %}">x</a>
                    {% endif %}
                    </span><br>
    {% endfor %}
        <form action="{% url 'comment' post.id %}" method="POST" class="comment-form">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="댓글 달기">
        </form>
</div>

        {% endfor %}
    {% else %}
        <div id="main-container">
            <div id="main-photo">
                <img src="/static/photo/인스타그램.png" width="100%" height="100%">
            </div>
        </div>
    {% endif %}
{% endblock %}