<html>
<body>
    {% if user.is_active %}
        <li><a href="/posts"><span class="glyphicon glyphicon-user"></span>Home</a></li>
        <li><span class="glyphicon glyphicon-user"></span><a href="{% url 'post_mypage' user.username %}">{{ user.username }}</a></li>
        <li><a href="/account/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        <li><a href="/posts/{{ user.username }}/create">Post 등록</a></li>
    <br><br>
    <h1>‼️ 검색 결과 입니다.‼️</h1>
    {% for post in data %}
    <br><br><br><br><a href="{% url 'post_mypage' post.account %}">{{ post.account }}</a>
        {% if user == post.account %}
        <details>
            <summary>...</summary>
            <p><a href="{% url 'post_update' post.id %}">게시물 수정</a><br>
               <a href="{% url 'post_delete' post.id %}">게시물 삭제</a><br>
                게시물 공유<br>
                링크 복사 <br>
            </p>
        </details>
        {% else %}
        <details>
            <summary>...</summary>
            <p>
               게시물 공유<br>
               링크 복사 <br>
            </p>
        </details>
        {% endif %}
    <br>
        {% if post.photo %}
            <img src="{{ post.photo.url  }}" width="400" height="300"/> <br>
        {% endif %}
    {% endfor %}
    {% else %}
        <li><a href="/account/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</body>
</html>